@page
@model AttendanceCheck.Pages.TeacherListModel
@{
}

@{
    Layout = "_Layout_Admin";
}

<h3>Student List</h3>
<a class="btn btn-primary mt-1" asp-area="" asp-page="/Form/AddTeacher">Add new teacher</a>
<hr />

<table class="table">
    <thread>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach (var order in Model.Teachers)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.Name
                </td>
                <td>
                    @order.PhoneNumber
                </td>
            </tr>
        }
    </tbody>

</table>