@page
@model AttendanceCheck.Pages_List_TeacherList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TeacherModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeacherModel.Id" />
            <div class="form-group">
                <label asp-for="TeacherModel.Username" class="control-label"></label>
                <input asp-for="TeacherModel.Username" class="form-control" />
                <span asp-validation-for="TeacherModel.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherModel.Password" class="control-label"></label>
                <input asp-for="TeacherModel.Password" class="form-control" />
                <span asp-validation-for="TeacherModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherModel.Name" class="control-label"></label>
                <input asp-for="TeacherModel.Name" class="form-control" />
                <span asp-validation-for="TeacherModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherModel.PhoneNumber" class="control-label"></label>
                <input asp-for="TeacherModel.PhoneNumber" class="form-control" />
                <span asp-validation-for="TeacherModel.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
